.ui-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.ui-grid.grid-team {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  justify-items: center;
}

.ui-grid.grid-founders {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
